.site-container {
    margin: 0 auto;
}

.inquiry__title {
    line-height: 1;
    font-size: 5rem;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding-top: 3rem;
}

.inquiry__description {
    font-size: 1.75rem;
    color: var(--color-muted);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 2.75rem auto;
    width: 65ch;
}

.inquiry__description-additional {
    font-size: 1.75rem;
    color: var(--color-muted);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 2.75rem auto;
    width: 65ch;
}


.background-image-container {
    background-image: url(../../public/inquiry-background-top.jpeg);
    background-size: cover;
    width: 100%;
    height: 450px;
}

.inquiry__seperator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry__seperator {
    width: 20%;
    height: 1px;
    background-color: var(--color-muted);
}

.inquiry__symbol {
  position: relative;
  width: 178px;
  height: 100px;
}

.inquiry__symbol:before,
.inquiry__symbol:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 42px;
  width: 40px;
  height: 40px;
  border: 3px solid #cbd5e1;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}

.inquiry__symbol:after {
  left: auto;
  right: 45px;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}

.inquiry__form {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
}

.inquiry__form label {
    font-size: var(--size-4xl);
    font-family: "Times New Roman", Times, serif;
    color: var(--color-muted);
    margin-top: 2rem;
}

.label--0margin {
    margin: 0;
}

.inquiry__footer-description {
    font-size: var(--size-4xl);
    font-family: "Times New Roman", Times, serif;
    color: var(--color-muted);
    margin: 2rem 0;
    text-align: center;
}

.inquiry__footer-description-additional {
    font-size: 3rem;
    font-family: "Pinyon Script", cursive;
    color: var(--color-muted);
    text-align: center;
    margin-bottom: 2rem;
}

.background-image-container-footer {
    background-image: url(../../public/inquiry-background-bottom.jpeg);
    background-size: cover;
    width: 100%;
    height: 450px;
}