.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 0.5rem;
}

.btn {
    display: inline-block;
    background-color: var(--color-slate50);
    color: var(--color-dark);
    padding: 0.5em 1em;
    font-weight: 500;
    border-radius: 6px;
    line-height: 1.75rem;
    text-decoration: none;
    transition: background-color, 0.3s;
}


.infinity__seperator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinity__seperator {
    width: 20%;
    height: 1px;
    background-color: var(--color-muted);
}

.infinity__symbol {
  position: relative;
  width: 178px;
  height: 100px;
}

.infinity__symbol:before,
.infinity__symbol:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 42px;
  width: 40px;
  height: 40px;
  border: 3px solid #cbd5e1;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}

.infinity__symbol:after {
  left: auto;
  right: 45px;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}

.btn--sm-padding {
    padding: 0.25em 1em;
}

.btn:focus-visible {
    outline: solid var(--color-text);
}

.section {
    margin-top: 5rem;
}

.inverted-text-color {
    color: black;
    border-color: black;
}

.title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
    color: var(--color-text);
    font-size: var(--size-xs);
}

@media (max-width: 475px) {
    .infinity__symbol {
        width: 100px;
    }

    .infinity__symbol:before,
    .infinity__symbol:after {
      top: 40px;
      left: 27px;
      width: 20px;
      height: 20px;
      border: 3px solid #cbd5e1;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-45deg);
    }

    .infinity__symbol:after {
      left: auto;
      right: 30px;
      border-radius: 50px 50px 50px 0;
      transform: rotate(45deg);
    }

}


@media (max-width: 767px) {
    .container {
        padding-inline: 1rem;
    }

    .section {
        margin-top: 3rem;
    }
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .title {
        font-size: var(--size-sm);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .title {
        font-size: var(--size-base);
    }
}

@media (min-width: 1280px) {
    .container  {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}